.image-container{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}


.image-container img {
  border-radius: 4px;
  margin-bottom: 20px;
  width: 200px;
  height: 150px;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img{
    transform: scale(1.2);
}

