.dictionary, .meaning{
    background-color:  #E2C6E2;
}
.phonetic{

padding-left: 12px;
padding-right: 12px;
}


p.noun, .partOfSpeech{
    color:#e8751a;
    font-weight: bold;
}

.partOfSpeech{
    color:#e8751a;
    font-weight: bold;
}
.synonym{
  color:  rgb(138, 18, 83);
}

.example{
    color: #00464F;
}